* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 380px;
  padding: 14px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.input-field:focus {
  border-color: #ffffffe2;
  outline: none;
  box-shadow: 0 0 5px #ffffff;
}

.input-field:focus::placeholder {
  color: #888;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #a0aeb5;

}


.sign-screen {
  width: 400px;
  padding: 80px;
  background-color: #008efb; 
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  text-align: center;
  color: white;
}

.sign-screen h2 {
  margin-bottom: 25px;
}

button {

  padding: 18px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #0062ff; 
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #115fcd;  
}
